@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  background-color: black;
  margin: 0;
  font-family: 'VT323', monospace;
}

h1 {
  color: yellow;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  background: linear-gradient(red, #e7a61a);
  border: 2px solid black;
  border-radius: 30px;
  margin: 50px 20px;
  padding: 20px;
  box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.75);
}

table {
  margin: 20px auto 50px;
  background: yellow;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
}

p {
  color: black;
  text-align: justify;
  font-size: 2em;
  margin: 20px 50px;
}

.Icon {
  margin: 15px;
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
  margin: 20px;
  border: 2px solid black;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

#contactIconOne,
#contactIconTwo {
  margin: 20px;
  border: 2px solid black;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

#contactIconOne {
  background: orange;
  border-radius: 20px;
}

#contactIconTwo {
  background: yellow;
  border-radius: 5px;
}

.contactText {
  color: black;
  font-size: 3em;
  padding: 10px;
}

#pic {
  margin: 20px;
  background: red;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
  padding: 2px;
}

.frame {
  background-image: url('https://github.com/PauloCaicedo/Curriculum/blob/gh-pages/images/banner.jpg?raw=true');
  background-repeat: repeat-x;
  background-attachment: fixed;
  padding: 100px 0; /* Añadir espacio arriba y abajo del banner */
}

.pane {
  margin-top: 50px; /* Ajustar margen superior del contenido */
  background-image: url('https://github.com/PauloCaicedo/Curriculum/blob/gh-pages/images/noiseBackground.png?raw=true');
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
}

.toolTd {
  color: red;
  font-size: 2.2em;
  text-align: center;
}

.toolDescription {
  color: black;
  font-size: 1.5em;
  text-align: left;
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
}

h2 {
  color: black;
  text-align: center;
  font-size: 1.8em;
  margin: 30px 0 25px;
}

.contactTable,
.skillsTable {
  margin-top: auto;
}

.container {
  display: flex; 
  justify-content: flex-start;
  padding-left: 20px;
}

button {
  background: red;
  border: 2px solid black;
  padding: 0;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
  transition: all 0.2s; 
  display: inline-flex;
  margin-right: 20px;
  cursor: pointer;
}

#playButton:hover,
#pauseButton:hover {
  outline: 3px solid black;
  transform: translateY(-4px);
}

#playButton:active,
#pauseButton:active {
  box-shadow: none;
  transform: translateY(4px);
}

#linkedInIcon,
#instagramIcon {
  margin: 20px;
  background: #2E9AFE;
  border-radius: 11.5px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
  transition: all 0.2s; 
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

#linkedInIcon:hover,
#instagramIcon:hover {
  transform: translateY(-5px);
}

#linkedInIcon:active,
#instagramIcon:active {
  box-shadow: none;
  transform: translateY(4px);
}
