@import url(https://fonts.googleapis.com/css?family=VT323);

body{  
  background-color: black;
}

h1{
  color: yellow;
  text-transform: uppercase;
  text-align: center;
  font-family: 'VT323';
  font-weight: normal;
  font-size: 3em;
  background: linear-gradient(red,#e7a61a);
  border: 2px solid black;
  border-radius: 30px;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  position: relative;
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}

table{
  margin-bottom:50px;
  margin-left:50px;
  margin-right:50px;
  background: yellow;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

p{
  color: black;
  text-align: justify;
  font-family: 'VT323';
  font-size: 2em;
  margin: 50px;
}
#contactIconOne{
  margin: 50px;
  background: orange;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  padding: 2px;
  
}

#contactIconTwo{
  margin: 50px;
  background: yellow;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  padding: 2px;
  
}

.contactText{
  color: black;
  font-family: 'VT323';
  font-weight: normal;
  font-size: 3em;
  padding: 50px;
  
}

.Icon{
  margin: 25px;
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#pic{
  margin-right: 50px;
  margin-bottom: auto;
  background: red;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  padding: 2px;
}

.frame{
  background-image: url('https://github.com/PauloCaicedo/Curriculum/blob/gh-pages/images/banner.jpg?raw=true');
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.pane{
  margin-top: 100px;
  /*background-color: #2E9AFE;*/
  background-image: url('https://github.com/PauloCaicedo/Curriculum/blob/gh-pages/images/noiseBackground.png?raw=true');
  border: 2px solid black;
  border-radius: 20px;
}

.toolTd{
  color: red;
  font-family: 'VT323';
  font-weight: normal;
  font-size: 2.2em;
  text-align: center;
}

.toolDescription{
  color: black;
  font-family: 'VT323';
  font-weight: normal;
  font-size: 1.5em;
  text-align: left;
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  vertical-align:top;
  
}

h2{
  color: black;
  text-align: center;
  font-family: 'VT323';
  font-weight: normal;
  font-size: 1.8em;
  margin-top: 30px;
  margin-bottom: 25px;
}

.contactTable{
  margin: auto;
  
}

.skillsTableTwo{
  margin: auto;
  margin-bottom:50px;
}

#playButton{
  margin-top: 80px;
  margin-left: 50px;
  background: red;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#pauseButton{
  background: red;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#playButton:hover {
  border: 3px solid black;
  padding:1px;
  margin-top: 76px;
}

#playButton:active {
  box-shadow: 0 0px 0;
  transform: translateY(4px);
}

#pauseButton:hover {
  border: 3px solid black;
  padding:1px;
  margin-top: 76px;
}

#pauseButton:active {
  box-shadow: 0 0px 0;
  transform: translateY(4px);
}

#linkedInIcon{
  margin: 50px;
  background: #2E9AFE;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 11.5px;
  box-sizing: border-box;
}

#linkedInIcon:hover{
  margin-top: 44px;
  margin-bottom: 56px;
}

#linkedInIcon:active {
  box-shadow: 0 0px;
  transform: translateY(4px);
}

#instagramIcon{
  margin: 50px;
  background: #2E9AFE;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 11.5px;
  box-sizing: border-box;
}

#instagramIcon:hover{
  margin-top: 44px;
  margin-bottom: 56px;
}

#instagramIcon:active {
  box-shadow: 0 0px;
  transform: translateY(4px);
}
